.root {
    background-color: #eeeeee
}

.mobileHide { display: inline; } 

/* Smartphone Portrait and Landscape */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){ 
    .mobileHide { display: none !important;}
}

.desktopHide { display: inline } 
@media screen and (min-width: 800px) {
    .desktopHide { display: none !important;}
}

.crossed {
    text-decoration: line-through;
    color: gray;
}